*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  // border: 1px solid red;
}
.container {
  width: 90%;
  margin: 0 auto;
}
:root {
  --header-background: rgba(0, 0, 0, 0.671);
  --white-color: #fff;
  --blck-color: #000;
  --orange-color: #fdb827;
}
.about {
  padding: 4rem 0 1.7rem 0;
  background-color: var(--blck-color);
}
.about-top {
  margin: 1rem 0 1.5rem 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .about-top-left {
      width: 37%;
      img {
        width: 100%;
      }
    }
    .about-top-right {
      width:53%;

      p {
        font-size: 4rem;
        color: var(--white-color);
        span {
          color: var(--orange-color);
        }
      }
    }
  }
}
.about-center {
  .container {
    p {
      color: var(--white-color);
      font-size: 1.2rem;
      margin: 0.7rem 0;
    }
  }
}
