*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  // border: 1px solid red;
}
.container {
  width: 90%;
  margin: 0 auto;
}
:root {
  --header-background: rgba(0, 0, 0, 0.671);
  --white-color: #fff;
  --blck-color: #000;
  --orange-color: #fdb827;
  --white-opacity13: rgba(255, 255, 255, 0.285);
}
body {
  background-color: var(--blck-color);
  color: var(--white-color);
}
.contact {
    height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px 30px;
  img {
    height: 600px;
    width: auto;
  }
  &-right{
    display: flex;
    flex-direction: column;
    gap: 30px 30px;
  }
  h2 {
    max-width: 670px;
    font-size: 64px;
    font-weight: 700;
  }
  p {
    max-width: 500px;
    font-size: 1rem;
    font-weight: 500;
  }
  .about-btn {
    padding: 1rem 1.5rem;
    background-color: var(--orange-color);
    color: var(--blck-color);
    font-size: 1rem;
    font-weight: 700;
    border-radius: 15px;
    border: none;
    cursor: pointer;
  }
  .portfolio-btn {
    padding: .9rem 1.5rem;
    background-color: var(--white-opacity13);
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: 15px;
  }
}
